@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.cm-editor {
  line-height: 1.5 !important;
  padding: 8px !important;
}

.cm-activeLine {
  position: relative !important;
  z-index: 1 !important;
}

.hide-dynamic-elements .cm-layer.cm-layer-above.cm-cursorLayer {
  display: none;
}

.hide-line-numbers {
  display: none !important;
}